header {
  font-size: 24px;
  height: 32px;
  left: 0;
  padding: 0 12px;
  position: absolute;
  top: 0;
  width: 100%;
}

header[data-align='vertical'] {
  font-size: 32px;
  position: absolute;
  white-space: nowrap;
  left: -30%;
  top: 40%;
  writing-mode: vertical-rl;
}

header[data-centered='true'] {
  position: absolute;
  top: 35%;
  left: 30%;
}

header[data-align='center'] {
  text-align: center;
}

.vuu-stage-1 {
  --browser-width: 100%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 100%;
  --connectionManager-width: 0%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 100%;
  --table-ds-width: 0%;
}

.vuu-stage-2 {
  --browser-width: 70%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 30%;
  --tables-width: 100%;
  --connectionManager-width: 0%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 100%;
  --table-ds-width: 0%;
}

.vuu-stage-3 {
  --browser-width: 100%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 100%;
  --connectionManager-width: 0%;
  --instruments-height: 100%;
  --prices-height: 0%;
  --prices-header-display: none;
  --prices-padding: 0;
  --table-ui-width: 100%;
  --table-ds-width: 0%;
}

.vuu-stage-4 {
  --browser-width: 100%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 100%;
  --connectionManager-width: 0%;
  --instruments-height: 100%;
  --prices-height: 0%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}

.vuu-stage-5 {
  --browser-width: 100%;
  --client-width: 100%;
  /* --filterbar-display: flex; */
  --filterbar-height: 100px;
  --table-main-height: 70%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 100%;
  --connectionManager-width: 0%;
  --instruments-height: 100%;
  --prices-height: 0%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}

.vuu-stage-6 {
  --browser-width: 100%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 90%;
  --connectionManager-width: 10%;
  --instruments-height: 100%;
  --prices-height: 0%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}

.vuu-stage-7 {
  --browser-width: 100%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 0%;
  --tables-width: 90%;
  --connectionManager-width: 10%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}

.vuu-stage-8 {
  --browser-width: 70%;
  --client-width: 100%;
  --worker-width: 0%;
  --server-width: 30%;
  --tables-width: 90%;
  --connectionManager-width: 10%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}

.vuu-stage-9 {
  --browser-width: 70%;
  --client-width: 70%;
  --worker-width: 30%;
  --worker-border: dashed;
  --worker-padding: 36px 6px 6px 6px;
  --server-width: 30%;
  --tables-width: 90%;
  --connectionManager-width: 10%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
}
.vuu-stage-10 {
  --browser-width: 70%;
  --client-width: 70%;
  --worker-width: 30%;
  --worker-border: dashed;
  --worker-padding: 36px 6px 6px 6px;
  --server-width: 30%;
  --tables-width: 90%;
  --connectionManager-width: 10%;
  --instruments-height: 50%;
  --prices-height: 50%;
  --table-ui-width: 60%;
  --table-ds-width: 40%;
  --table-ds-margin: 10px;
  --worker-main-opacity: 1;
}

.vuu-presentation {
  height: 100vh;
  width: 100vw;
}

.vuu-main {
  display: flex;
  height: calc(100% - 40px);
}

.vuu-section {
  --padding-top: 0;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding-top: var(--padding-top);
  position: relative;
  transition-property: flex-basis;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.vuu-section:has(> header) {
  --padding-top: 36px;
}

.vuu-section:has(> header[data-align='vertical']) {
  --padding-top: 0;
}

.vuu-buttonbar {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;
  justify-content: space-between;
}

.vuu-browser {
  background-color: white;
  display: flex;
  width: var(--browser-width, 100%);
}

.vuu-client {
  display: flex;
  flex-basis: var(--client-width);
}

.vuu-tables {
  display: flex;
  flex-direction: column;
  flex-basis: var(--tables-width, 90%);
}

.vuu-table {
  --server-data-display: block;

  background-color: white;
  border: solid #ccc 1px;
  border-radius: 10px;
  display: flex;
  margin: 6px;
}
.vuu-table-instruments {
  flex-basis: var(--instruments-height, 50%);
}

.vuu-table-prices {
  flex-basis: var(--prices-height, 50%);
}

.vuu-stage-3 .vuu-table-prices,
.vuu-stage-4 .vuu-table-prices,
.vuu-stage-5 .vuu-table-prices,
.vuu-stage-6 .vuu-table-prices {
  --padding-top: 0;
  margin: 0;
}

.vuu-table-prices > header {
  display: var(--prices-header-display, block);
}

.vuu-client-connectionManager {
  flex-basis: var(--connectionManager-width, 10%);
}

.vuu-worker {
  border-color: cornflowerblue;
  border-style: var(--worker-border, none);
  border-width: 4px;
  border-radius: 15px;
  display: flex;
  flex-basis: var(--worker-width);
  margin-left: 10px;
  padding: var(--worker-padding, 0);
}

.vuu-websocket {
  height: 100%;
  width: 100px;
}

.vuu-worker-main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  transition: opacity 0.4s linear;
}

.vuu-worker-main-dataflow {
  flex: 0 0 100px;
}

.vuu-worker-main-content {
  display: flex;
  flex: 1 1 auto;
  opacity: var(--worker-main-opacity, 0);
}

.vuu-worker-serverproxy {
  flex: 1 1 30%;
}

.vuu-worker-viewports {
  display: flex;
  flex: 1 1 70%;
  flex-direction: column;
  justify-content: flex-end;
}

.vuu-serverproxy-dataflow {
  flex: 0 0 30%;
}

.vuu-worker-serverproxy > .SvgDataflowCompact {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 60px;
}

.vuu-worker-viewport {
  display: flex;
  flex: 0 0 35%;
  justify-content: flex-start;
  position: relative;
}

.vuu-worker-viewport > header {
  font-size: 16px;
  top: 70px;
}

.vuu-worker-viewport > .SvgDataflowCompact {
  height: 80px;
  left: -10px;
  position: absolute;
  bottom: 40px;
  width: 60px;
}

.vuu-server {
  display: flex;
  flex-basis: var(--server-width);
  justify-content: center;
}

.vuu-button-active {
  background-color: blue;
  color: white;
}

.SvgTable {
  height: 100%;
  width: 100%;
}

.SvgDatasource {
  height: 100%;
  width: 70%;
}

.SvgSingleton {
  height: 100%;
  width: 100%;
}

.SvgSingletonHorizontal {
  height: 100%;
  width: 100%;
}

.SvgDataflowCompact {
  width: 100%;
}

.vuu-dataflow {
  display: var(--server-data-display, none);
  height: fit-content;
  position: var(--vuu-dataflow-position, absolute);
  top: var(--vuu-dataflow-top, calc(50% - 100px));
  width: fit-content;
  left: 0;
  z-index: 100;
}

.vuu-dataflow[data-align='right'] {
  --server-data-display: none;
  left: 60%;
}

.vuu-stage-9 .vuu-server,
.vuu-stage-10 .vuu-server,
.vuu-server:hover {
  --server-data-display: block;
}

.vuu-table-ds .vuu-dataflow[data-align='right'] {
  left: 70%;
}

.vuu-stage-6 .vuu-dataflow[data-align='right'],
.vuu-stage-7 .vuu-dataflow[data-align='right'],
.vuu-stage-8 .vuu-dataflow[data-align='right'],
.vuu-stage-9 .vuu-dataflow[data-align='right'] {
  --server-data-display: block;
}
